<!DOCTYPE html>
<html>
<head>
  <title>Great Southwest</title>
  <meta name="viewport" content ="width=device-width, initial-scale=1">
  <!-- Webfonts -->
  <script src="//use.typekit.net/fkc1gdh.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="//cloud.typography.com/7246032/629704/css/fonts.css" />
  <!-- Styles -->
  <link rel="stylesheet" href="css/main.css">
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-52351584-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="container">
    <header>
      <div class="logo">
        <a href="/index.html">
          <svg viewBox="0 0 92 40">
            <use xlink:href="img/gsw.svg#logo-gsw"></use>
          </svg>
        </a>
      </div>
      <nav>
        <ul class="main-nav">
          <li><a href="#">Writing</a></li>
          <li><a href="#">Work</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="work">
        <!-- compiled template will go here -->
      </section>



      <section id="projects">
        <div class="project"></div>
        <div class="project"></div>
        <div class="project"></div>
      </section>



    </main>
  </div>
  <!-- Templates -->
  <script id="template" type="text/x-handlebars-template">
    <section class="profile-group">
      <img class="profile-image" src="{{ user.images.[138] }}" alt="Courtney Myers">
      <h1 class="profile-name">{{ user.display_name }}</h1>
    </section>
    <section class="projects-group">
    </section>
  </script>
  <script src="js/portfolio.min.js"></script>
</body>
</html>