// base
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: #eee;
}
body {
  margin: 0.5rem;
  font-family: sans-serif;
  line-height: 1.5;
}
.container {
  max-width: 60rem;
  margin: 0.5rem auto;
  border-radius: 0.1875rem;
  overflow: auto;
  background: #fff;
  box-shadow: 0 0 2rem rgba(#000, 0.05);
}