// blog posts
.blog {
  margin-top: 2rem;

  article {
    position: relative;
    padding: 1rem 1rem 1rem 8.25rem;
    margin: 0.5rem;
    border-radius: 0.1875rem;
    background: #fff;
    transition: all 500ms;
    &:hover,
    &:focus {
      cursor: pointer;
      background: #e9e9e9;
      box-shadow: inset 0 0 2rem rgba(#000, 0.05);
      transition: none;
    }

    // post date
    &::before, &::after {
      box-sizing: border-box;
      position: absolute;
      left: 0.875rem;
      width: 5rem;
      text-align: center;
    }
    // post month
    &::before {
      top: 0.5625rem;
      @include proxima($weight: 400, $style: normal);
      font-size: 0.8125rem;
      color: $gsw-blue;
    }
    // post date
    &::after {
      top: 1.75rem;
      height: 3rem;
      border-radius: 0.1875rem;
      border-left: 0.4375rem solid $gsw-blue;
      text-indent: -0.4375rem; // offsets border left
      box-shadow: 0 0 0 0.0625rem rgba(#000, 0.125);
      background: #fff;
      @include proxima($weight: 800, $style: normal);
      font-size: 2.0625rem;
      color: $gsw-blue;
    }
  }

  // will be dynamically pulled in from data-post-date
  #post-0001 {
    &::before { content: 'JULY'; }
    &::after  { content: '2'; }
  }
  #post-0002 {
    &::before { content: 'SEPTEMBER'; }
    &::after  { content: '30'; }
  }

  h1 {
    padding-top: 0.75rem;
    @include proxima($weight: 100, $style: normal);
    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    color: $gsw-orange;
  }
  h2 {
    margin-top: -0.25rem;
    @include whitney($weight: 300, $style: italic);
    font-size: 1.125rem;
    //line-height: 2;
    color: $gsw-blue;
  }
  p {
    margin-top: 0.25rem;
    @include whitney($weight: 400, $style: regular);
    color: #444;
  }
}