// masthead
header {
  box-sizing: content-box;
  border-top: 0.375rem solid $gsw-orange;
  height: 2.5rem;                             /*  40px */
  position: relative;

  &::before, &::after {
    content: '';
    position: absolute;
  }
  &::before {
    height: 2.5rem;                           /*  40px */
    width: 5rem;                              /*  80px */
    background: $gsw-orange;
  }
  &::after {
    left: 5rem;
    height: 0;
    width: 2.5rem;                            /*  40px */
    border-top: 2.5rem solid $gsw-orange;     /*  40px */
    border-right: 1.25rem solid transparent;  /*  20px */
  }
}
.logo svg {
  position: absolute;
  width: 5.75rem;
  left: 1rem;
  top: -0.1875rem;
  z-index: 10;
  fill: white;
}

// navigation
header nav {
  position: absolute;
  left: 8.75rem;
  width: calc(100% - 8.75rem);
  height: 2.5rem;
}
.main-nav {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;

  li {
    width: 100%;
    text-align: center;
  }

  a {
    padding: 0.25rem 0.625rem 0.125rem;
    border-radius: 0.1875rem;

    @include proxima($weight: 500, $style: normal);
    font-size: 1.0625rem;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $gsw-orange;
    transition: all 0.125s ease-in-out;
    &:hover,
    &:focus {
      color: #fff;
      background: $gsw-orange;
    }
  }
}