// variables
$gsw-orange: #d98135;
$gsw-blue:   #438bca;

// mixins
@mixin whitney($weight: 300, $style: normal) {
  font-family: 'Whitney SSm A', 'Whitney SSm B';
  font-weight: $weight;
  font-style: $style;
}
// 300 Light
// 400 Book
// 500 Medium
// 600 Semibold
// 700 Bold
// 800 Black

@mixin proxima($weight: 100, $style: normal) {
  font-family: 'proxima-nova';
  font-weight: $weight;
  font-style: $style;
}
// 100 Thin
// 300 Light
// 400 Regular
// 600 Semibold
// 700 Bold
// 800 Extrabold
// 900 Black

@mixin tisa($weight: 400, $style: normal) {
  font-family: 'ff-tisa-web-pro';
  font-weight: $weight;
  font-style: $style;
}
// 400 Regular
// 700 Bold