// portfolio
.profile-group {
  padding: 1rem;
}
.profile-image {
  display: block;
  margin: 1rem auto;
  border-radius: 10rem; // just has to be bigger than half image width
}
.profile-name {
  @include proxima($weight: 100, $style: normal);
  font-size: 2rem;
  text-align: center;
  color: $gsw-blue;
}