// placeholder
.soon {
  height: calc(100vh - 3.875rem);
  padding: 10rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    @include proxima($weight: 100, $style: normal);
    font-size: 3rem;
    text-align: center;
    color: $gsw-blue;
  }
}

// image gallery
.gallery img {
  transition: transform 100ms;
  transform: scale3d(0.9, 0.9, 0.9);
  &:hover,
  &:focus {
    transform: scale3d(1, 1, 1);
  }
}