@import "mixins";

// sandbox
.sandbox {
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  margin: 1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 0.375rem;
  box-shadow: inset 0 0 0 0.125rem rgba($gsw-orange, 1.0);
  background: white;
  transition: all 0.03s ease-out 0.05s;

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: inset 0 0 0 1.625rem rgba($gsw-blue, 1);
    border-radius: 5rem;
    transition: all 0.05s ease-in 0s;
  }
}

// navigation hinge 
.main-nav a {
 position: relative;

  // removes previously defined style
  &:hover, &:focus {
    border-bottom: none;

    // visually the same as border-bottom
    &::before, &::after {
      content: '';
      width: 50%;
      height: 0.125rem;
      position: absolute;
      bottom: 0;
      background-color: $gsw-orange;
    }
    &::before { left: 0; }
    &::after { right: 0; }
  }
}

// swings open on hover
.main-nav a:hover,
.main-nav a:focus {
  &::before {
    transform-origin: left;
    animation: swingLeft 1s 0.5s ease forwards;
  }
  &::after { 
    transform-origin: right;
    animation: swingRight 1s 0.5s ease forwards;
  }
}

@keyframes swingLeft {
  0%   { transform: rotate(0deg);   }
  20%  { transform: rotate(110deg); }
  40%  { transform: rotate(70deg);  }
  60%  { transform: rotate(100deg); }
  80%  { transform: rotate(80deg);  }
  100% { transform: rotate(90deg);  }
}

@keyframes swingRight {
  0%   { transform: rotate(0deg);    }
  20%  { transform: rotate(-110deg); }
  40%  { transform: rotate(-70deg);  }
  60%  { transform: rotate(-100deg); }
  80%  { transform: rotate(-80deg);  }
  100% { transform: rotate(-90deg);  }
}